Repository pound-er/Founder-server, pull requests merged in 2022-08, with the labels that each got.

#74 [#73] Refactor : Add answer on survey request
  api/views.py
Labels: For: Views, Type: Refactor, Tag: Survey

#79 [#78] Refactor : Count Product star rate avg on ReviewView
  api/views.py
Labels: For: Views, Type: Refactor, Tag: Review

#82 [#81] Fix : Fix RecommendView exception error
  api/views.py
Labels: Type: Error/Bugs, For: API

#83 [#80] Feat : Create KakaoSignOutView
  api/urls.py
  api/views.py
Labels: Tag: KakaoAuth, Type: Error/Bugs, For: API

#85 [#84] Fix : Fix kakao token to be stored in cookie
  api/views.py
Labels: Tag: KakaoAuth, Type: Error/Bugs, For: API
