Repository pound-er/Founder-server, pull requests merged in 2022-07, with the labels that each got.

#7 [#5] Feat : S3 Connect
  Dockerfile.prod
  Founder-backend/settings/base.py
  Founder-backend/settings/storages.py
  api/migrations/0005_auto_20220709_1759.py
  api/models.py
  config/nginx/nginx.conf
  requirements.txt
Labels: For: Utils, For: Models/DB, Type: Feature, Type: Error/Bugs

#14 [#9] Feat : Add Type4RecommendView
  api/urls.py
  api/views.py
Labels: For: Views, Type: Feature

#15 [#9] Feat : Add Brand4TypeView & Limit NGiNX upload file size
  api/serializers.py
  api/urls.py
  api/views.py
  config/nginx/nginx.conf
Labels: For: Views, Type: Feature

#16 [#13] Feat : Add ProductDetailView
  api/urls.py
  api/views.py
Labels: For: Views, Type: Feature

#18 [#17] Feat : Add Review
  api/admin.py
  api/forms.py
  api/migrations/0001_initial.py
  api/migrations/0002_auto_20220708_0417.py
  api/migrations/0003_auto_20220708_0431.py
  api/migrations/0004_auto_20220709_1651.py
  api/migrations/0005_auto_20220709_1759.py
  api/migrations/0006_auto_20220710_1342.py
  api/migrations/0007_auto_20220710_2059.py
  api/migrations/0008_auto_20220710_2124.py
  api/migrations/0009_auto_20220710_2301.py
  api/models.py
  api/urls.py
  api/views.py
Labels: Status: WIP, For: Views, Type: Feature, Tag: Review

#19 [#6] Feat : Add Question No.0
  api/views.py
Labels: For: Views, Type: Feature, Tag: Survey

#20 [#2] Feat : Create Kakao SignIn & SignIn Call Back Views
  Founder-backend/settings/base.py
  api/migrations/0001_initial.py
  api/models.py
  api/urls.py
  api/views.py
  requirements.txt
Labels: Status: WIP, Tag: KakaoAuth, Type: Feature, For: API

#23 [#22] Feat : Add CORS, DNS, ELB (HTTPS)
  Founder-backend/settings/base.py
  config/nginx/nginx.conf
  requirements.txt
Labels: For: Utils, Type: Feature

#24 [#12] Feat : Create BrandDetailView
  api/urls.py
  api/views.py
Labels: Type: Feature, For: API

#28 [#17] Feat : Add Review Star-Rate Count
  api/urls.py
  api/views.py
Labels: For: Views, Type: Feature, Tag: Review

#29 [#25] Feat : Create TypeProductDetailView
  api/urls.py
  api/views.py
Labels: Type: Feature, For: API

#30 [#25] Feat : Create TypeProductMainDetailView
  api/urls.py
  api/views.py
Labels: Type: Feature, For: API

#31 [#25] Feat : Create CurationProductDetailView
  api/urls.py
  api/views.py
Labels: Type: Feature, For: API

#33 [#26] Feat : Create MagazineView
  api/migrations/0002_auto_20220719_1908.py
  api/models.py
  api/serializers.py
  api/urls.py
  api/views.py
Labels: Type: Feature, For: API

#34 [#26] Feat : Create MagazineDetailView
  api/serializers.py
  api/urls.py
  api/views.py
Labels: Type: Feature, For: API

#37 [#36] Feat : Create TypeDetailView
  api/urls.py
  api/views.py
Labels: Type: Refactor, Type: Feature, For: API

#42 [#11] Feat : Create UserDetailView
  api/serializers.py
  api/urls.py
  api/views.py
Labels: Tag: KakaoAuth, Type: Feature, For: API
